// Fontawesome
//$fa-font-path:"../fonts";
//@import "../scss/fontawesome.scss";
//@import "../scss/solid.scss";
//@import "../scss/brands.scss";

$primary-font: 'Noto Sans', sans-serif;
$secondary-font: 'Fjalla One', sans-serif;

$primary-color: #9A562E;
$secondary-color: #244440;


body, html {
    height: 100%;
    font-family: $primary-font;
    font-size: 110%;
    background-color: lighten( $secondary-color, 70%)
}

h1,h2,h3,h4,h5,h6 {
    font-family: $secondary-font;
}

mark {
    padding: 0 0.2em;
    background-color: $primary-color;
    color: white;
    white-space: nowrap;
}

.hero-image {
    position: relative;
    height: 50%;
    background-color: $secondary-color;
    background: radial-gradient(circle, lighten( $secondary-color, 5% ) 30%, darken( $secondary-color, 10% ) 100%);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    h2 {
        line-height: 2em;
    }
}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1em;
}

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -2%;
    }
 
    .card {
        flex: 0 1 calc(50% - 1em);
        z-index: 100;
        
    }
}

@media screen and (min-width: 60em) {
    .card {
        flex: 0 1 calc(25% - 1em);
    }
}

.cards {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1em;
}

.card {
    background: #fff;
    background: linear-gradient(176deg, rgba(255,255,255,1) 50%, lighten( $secondary-color, 75% ) 100%);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 1em;

    h3 {
        margin-top: 0;
        color: $secondary-color;
    }

    hr {
        border: none;
        border-bottom: 1px solid #eee;
        width: 40%;
        text-align: left;
        margin-left: 0;
    }
}

.skills {
    h3 {
        border-bottom: 1px solid black;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
    }
    li {
        list-style-type: none;
        padding: 15px;
    }
}

